body {
    margin: 0px;
    background-color: #383735;
}

.logo {
    background: #393736;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.logo img {
    width: 100%;
}

.container {
    width: 100%;
    height: auto;
    color: black;
}

.image-container {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 60px 10px 60px;
}

.image-container img:first-of-type {
    width: 100%;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.whatsapp-btn {
    position: fixed;
    width: 60px;
    height: auto;
    bottom: 0;
    right: 0;
    padding: 20px;
    transform: translate(-16px, -3px);
    z-index: 300;
}

.text-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: helvetica;
    font-size: 20px;
    flex-direction: column;
}

.text-info img {
    width: 45px;
}

h1 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 0px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    /* border: solid 1px #d7ccbd; */
}

.icon-up {
    margin-left: 20px;
    position: fixed;
    z-index: 30;
    padding: 10px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* efeito de elevação */
    cursor: pointer;
    top: 5%;
    display: none;
}

.card {
    margin-top: 30px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
    border-radius: 25px;
    gap: 16px;
    padding: 4px 20px 4px 20px;
}

.fadeInIfirst {
    animation: fadeIn;
    animation-duration: 3s;
}

.fadeInImid {
    animation: fadeIn;
    animation-duration: 4s;
}

.fadeInlast {
    animation: fadeIn;
    animation-duration: 6s;
}

.card h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px ;
}

.card svg {
    width: 24px;
    height: 24px;
}

.container-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
